# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output Folders
.vs/
bin/
bin-int/

*.log

/CircularIgnore.json
/.claudiaideconfig
/Sandbox/assets/textures
/Evadne-Editor/assets/textures
/Evadne-Editor/EvadneProfile-Runtime.json
/Evadne-Editor/EvadneProfile-Startup.json
/Evadne-Editor/EvadneProfile-Shutdown.json

Evadne/vendor/VulkanSDK
Evadne-Editor/assets/cache
scripts/__pycache__